
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(25, 3, 46);
    text-align: center;
    line-height: 1.7;
    color: white;
    font-size: 1.7rem;
}
a{
    text-decoration: none;
}
img{
    height: auto;
    width: 100%;
}
main #division-2-list ul {
    list-style-type:none;
}
.upperCase{
    text-transform: uppercase;
}
.lowerCase{
    text-transform: lowercase;
}
/*++++++++++++++++++++++++++++ Container +++++++++++++++++++ */
.container{
    width: 120rem;
    margin: 0 auto;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-bottom: 2rem;
}

/*++++++++++++++++++++++++++++ Navbar +++++++++++++++++++ */
nav{
    background-color: #007bff;
    color: #fff;
    padding: 3rem 0 3rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 10%;
}
.btk-akademi{
    color: #fff;
    font-size: 2rem;
}
#menu{
    float: right;
}
#menu i{
    margin-right: .5rem;
}

#menu li{
    display: inline-block;
    margin: 0 12rem 12rem 0;
}
#menu a{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .2rem;
    transition: all .3s;
}
#menu a:hover{
    color:#007bff;
    background-color: #fff;
    
}
#logo{
    float: left;
}

/* +++++++++++++++++++++++++ HEADER++++++++++++++++++++++++++++ */
header{
    height: 65rem;
    /* background-color: blueviolet; */
    position: relative;
}
header .image-header{
    width: 140rem;
    height: 100%;
    background-image: url(image/istockphoto-1420039895-1024x1024.jpg);
    opacity: 0.4;
    z-index: -1;
    position: absolute;
    background-size: cover;
    background-position: center;
}
header h1{
    padding: 24rem 12rem 2rem 12rem;
    text-transform: uppercase;

}
p{
    padding: 3rem;
}
.btn-header{
    color:#fff;
    background-color: #007bff;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    transition: all 0.4s;
    margin: .6rem 0;
    padding: 1.7rem 3.4rem;
    border: 1px solid rgb(255, 212, 59);
    white-space: nowrap;
    box-shadow: 1px 2px 3px 2px black;
}
.btn-header:hover{
    background-color: #fff;
    color:#007bff ;
    box-shadow: 1px 2px 3px 6px black;
}
/*  SECTİON-1 +++++++++++ */

#division-1-main{
    background-color: black;
    color: white;
    padding: 4.4rem 0;
}

/*  SECTİON-2 +++++++++++ */
#division-2-list{
    padding: 2.3rem;
    background-color: #eeeded;
    color: #234;
}
#area-div{
    padding: 1.4rem;
}
.area img{
    border-radius: 1rem;
    opacity: 0.9;
}
.area .area-div h3{
    text-transform: uppercase;
    font-weight: bold;
}
#division-3-career{
    width: 100%;
    height: 50rem;
    margin: 2rem 0;
}
#left-main{
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background-color: tomato;
}
#right-main{
float: right;
width: 50%;
height: 100%;
box-sizing: border-box;
background-color: yellow;
}
#right-main ul {
    list-style: none;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
/* Top Menu */
#bottom a {
    position: fixed;
    width: 90px;
    height: 30px;
    background-color:#007bff;
    color: white;
    margin-right: 12px;
    bottom: 0;
    right: 0;
    border: 1px solid rgba(8, 20, 124, 0.527);
    transition: all .4s;
    margin-bottom: 8px;
}
#bottom a:hover{
    background-color:rgb(109, 141, 211);
    color:#ffee00;
    box-shadow: 2px 3px 3px black;
}